@page
@model PoEManagementWeb.Pages.Logworks.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>LogWork</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LogWork.Id" />
            <div class="form-group">
                <label asp-for="LogWork.EmployeeId" class="control-label"></label>
                <select asp-for="LogWork.EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="LogWork.EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogWork.WorkingTime" class="control-label"></label>
                <input asp-for="LogWork.WorkingTime" class="form-control" />
                <span asp-validation-for="LogWork.WorkingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogWork.WorkingDate" class="control-label"></label>
                <input asp-for="LogWork.WorkingDate" class="form-control" />
                <span asp-validation-for="LogWork.WorkingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogWork.Deleted" class="control-label"></label>
                <input asp-for="LogWork.Deleted" class="form-control" />
                <span asp-validation-for="LogWork.Deleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
