@page
@model PoEManagementWeb.Pages.Apply.ApplyModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="row" style="justify-content:center">
    <div class="col-md-4">
        <h1>Apply for The job @TempData["RecuitmentTitle"]</h1>
 
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Introduction</label>
                <input asp-for="Application.Name" class="form-control" />
                <span asp-validation-for="Application.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.Email" class="control-label"></label>
                <input asp-for="Application.Email" class="form-control" />
                <span asp-validation-for="Application.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.Cvimage" class="control-label"></label>
                <input asp-for="Application.Cvimage" class="form-control" />
                <span asp-validation-for="Application.Cvimage" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<select asp-for="Application.RecuitmentId" class ="form-control" asp-items="ViewBag.RecuitmentId"></select>*@
                <input asp-for="Application.RecuitmentId" value="@TempData["RecuitmentId"]" class="form-control" hidden />
                <span asp-validation-for="Application.RecuitmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.Address" class="control-label"></label>
                <input asp-for="Candidate.Address" class="form-control" />
                <span asp-validation-for="Candidate.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.DoB" class="control-label"></label>
                <input asp-for="Candidate.DoB" class="form-control" />
                <span asp-validation-for="Candidate.DoB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.Name" class="control-label"></label>
                <input asp-for="Candidate.Name" class="form-control" />
                <span asp-validation-for="Candidate.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
